.main-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .page-content {
    flex-grow: 1;
  }
  .main {
    flex-grow: 1;
    background-color: #e3e3e3;
    display: flex;
  }
  .main-content {
    margin: 24px 42px;
  }
}
